<p class="text-center">
<app-loader [isLoading]="isLoading"></app-loader>
</p>

<div class="container">

<!--
<div class="card mb-2 p-2">
    <div class="card-img">
        <img class="card-img-top" src="assets/vps/82/1.jpg" alt="Card image cap" width="100%"/>
    </div>
    <div class="card-block">
      <h4 class="card-title">Εξοικείωση με την εφαρμογή</h4>
        <h6 class="card-subtitle mt-2 mb-4 text-muted">
            Authors:
            <div>Vasilis Vasilopoulos
                <font class="text-info">
                    (4/5
                    <i class="fa fa-star" aria-hidden="true"></i>)
                </font>
            </div>
        </h6>
        <p class="card-text">
          Το παρόν είναι μια σύντομη παρουσίαση που θα σας βοηθήσει να γνωριστείτε με την εφαρμογή μας
        </p>

        <a [routerLink]="['/play']" [queryParams]="{vpid: 82}" class="float-right btn btn-primary">
            <i class="fa fa-unlock-alt"></i>
            Play now!</a>
        <div class="float-left text-center text-warning">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <p class="text-muted">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                ~ 5 minutes</p>
        </div>
    </div>
</div>

-->

<!--
<div class="card mb-2 p-2">
  <div class="card-img">
    <img class="card-img-top" src="assets/vps/301/1.jpg" alt="Card image cap" width="100%" />
  </div>
  <div class="card-block">
  <h4 class="card-title">Ασθενής με ρευματοειδή αρθρίτιδα</h4>
    <h6 class="card-subtitle mt-2 mb-4 text-muted">
      Authors:
      <div>Ioannis Koulas
        <font class="text-info">
          (4/5 <i class="fa fa-star" aria-hidden="true"></i>)
        </font>
      </div>
    </h6>
    <p class="card-text">
    Η Μαργαρίτα πάσχει από ρευματοειδή αρθρίτιδα, η οποία προκαλεί διάφορα προβλήματα στην καθημερινή ζωή και αρκετή δυσλειτουργία
    στις υποχρεώσεις της, στη εργασία της και στις δουλειές του σπιτιού.
    </p>

    <a [routerLink]="['/play']" [queryParams]="{vpid: 301}" class="float-right btn btn-primary">
      <i class="fa fa-unlock-alt"></i> Play now!</a>
      <div class="float-left text-center text-warning">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star-o" aria-hidden="true"></i>
      <p class="text-muted">
        <i class="fa fa-clock-o" aria-hidden="true"></i> ~ 10 minutes</p>
    </div>
  </div>
</div>

-->

<div class="card mb-2 p-2">
  <div class="card-img">
    <img class="card-img-top" src="assets/vps/306/1.jpg" alt="Card image cap" width="100%" />
  </div>
  <div class="card-block">
  <h4 class="card-title">Patient with lowback pain</h4>
    <h6 class="card-subtitle mt-2 mb-4 text-muted">
      Authors:
      <div>Vasilis Vasilopoulos
        <font class="text-info">
          (4/5
          <i class="fa fa-star" aria-hidden="true"></i>)
        </font>
      </div>
    </h6>
    <p class="card-text">
    James has been suffering from chronic lower back pain for the last 5 years.
    </p>

    <a [routerLink]="['/play']" [queryParams]="{vpid: 306}" class="float-right btn btn-primary">
      <i class="fa fa-unlock-alt"></i> Play now!</a>
    <div class="float-left text-center text-warning">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star-o" aria-hidden="true"></i>
      <p class="text-muted">
        <i class="fa fa-clock-o" aria-hidden="true"></i> ~ 10 minutes</p>
    </div>
  </div>
</div>


<div class="card mb-2 p-2">
  <div class="card-img">
    <img class="card-img-top" src="assets/vps/305/1.jpg" alt="Card image cap" width="100%" />
  </div>
  <div class="card-block">
  <h4 class="card-title">Patient with neuropathic pain</h4>
    <h6 class="card-subtitle mt-2 mb-4 text-muted">
      Authors:
      <div>Vasilis Vasilopoulos
        <font class="text-info">
          (4/5
          <i class="fa fa-star" aria-hidden="true"></i>)
        </font>
      </div>
    </h6>
    <p class="card-text">
      Natalie has been suffering from pain in her neck for more than 10 years. The pain is almost constant but also related to physical activity and gets worse when she turns her head to the right.
    </p>

    <a [routerLink]="['/play']" [queryParams]="{vpid: 305}" class="float-right btn btn-primary">
      <i class="fa fa-unlock-alt"></i> Play now!</a>
    <div class="float-left text-center text-warning">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star-o" aria-hidden="true"></i>
      <p class="text-muted">
        <i class="fa fa-clock-o" aria-hidden="true"></i> ~ 10 minutes</p>
    </div>
  </div>
</div>



<div class="card mb-2 p-2">
  <div class="card-img">
    <img class="card-img-top" src="assets/vps/302/1.jpg" alt="Card image cap" width="100%" />
  </div>
  <div class="card-block">
  <h4 class="card-title">Patient with Rheumatoid Arthritis</h4>
    <h6 class="card-subtitle mt-2 mb-4 text-muted">
      Authors:
      <div>Ioannis Koulas
        <font class="text-info">
          (4/5
          <i class="fa fa-star" aria-hidden="true"></i>)
        </font>
      </div>
    </h6>
    <p class="card-text">
      Margarita suffers from rheumatoid arthritis, a disease which causes various problems in her everyday life and difficulties
      in her work and household chores.
    </p>

    <a [routerLink]="['/play']" [queryParams]="{vpid: 302}" class="float-right btn btn-primary">
      <i class="fa fa-unlock-alt"></i> Play now!</a>
    <div class="float-left text-center text-warning">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star-o" aria-hidden="true"></i>
      <p class="text-muted">
        <i class="fa fa-clock-o" aria-hidden="true"></i> ~ 10 minutes</p>
    </div>
  </div>
</div>




<!--
 <div class="card mb-2 p-2">
  <div class="card-img">
    <img class="card-img-top" src="assets/vps/303/1.jpg" alt="Card image cap" width="100%" />
  </div>
  <div class="card-block">
    <h4 class="card-title">Ο Γιώργος πάσχει από αγκυλοποιητική σπονδυλαρθρίτιδα</h4>
    <h6 class="card-subtitle mt-2 mb-4 text-muted">
      Authors:
      <div>Ioannis Koulas
        <font class="text-info">
          (4/5
          <i class="fa fa-star" aria-hidden="true"></i>)
        </font>
      </div>
    </h6>
    <p class="card-text">
      Ο Γιώργος πάσχει από αγκυλοποιητική σπονδυλαρθρίτιδα, η οποία προκαλεί διάφορα προβλήματα στην καθημερινή του ζωή και αρκετές
      δυσκολίες στις υποχρεώσεις του και στην εργασία του.
    </p>

    <a [routerLink]="['/play']" [queryParams]="{vpid: 303}" class="float-right btn btn-primary">
      <i class="fa fa-unlock-alt"></i> Play now!</a>
    <div class="float-left text-center text-warning">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star-o" aria-hidden="true"></i>
      <p class="text-muted">
        <i class="fa fa-clock-o" aria-hidden="true"></i> ~ 10 minutes</p>
    </div>
  </div>
</div>
-->


<div class="card mb-2 p-2">
  <div class="card-img">
    <img class="card-img-top" src="assets/vps/304/1.jpg" alt="Card image cap" width="100%" />
  </div>
  <div class="card-block">
    <h4 class="card-title">Patient suffering from ankylosing spondylitis</h4>
    <h6 class="card-subtitle mt-2 mb-4 text-muted">
      Authors:
      <div>Ioannis Koulas
        <font class="text-info">
          (4/5
          <i class="fa fa-star" aria-hidden="true"></i>)
        </font>
      </div>
    </h6>
    <p class="card-text">
       George is suffering from ankylosing spondylitis, which causes various problems in his everyday life and many difficulties
       in fulfilling his obligations and work schedule.
    </p>

    <a [routerLink]="['/play']" [queryParams]="{vpid: 304}" class="float-right btn btn-primary">
      <i class="fa fa-unlock-alt"></i> Play now!</a>
    <div class="float-left text-center text-warning">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star-o" aria-hidden="true"></i>
      <p class="text-muted">
        <i class="fa fa-clock-o" aria-hidden="true"></i> ~ 10 minutes</p>
    </div>
  </div>
</div>





</div> <!--====  End of container  ====-->
